<div class="l-center-8 archive-list__item">
    <div class="archive-list__date">
        {{ value.time }}
    </div>
    <div class="archive-list__body">
        <h3 class="archive-list__title">{{ value.title }}</h3>
        <p>{{ value.text }}</p>
        <ul class="u-list-unstyled">
            <li>
                <a href="{{ value.link.url }}">
                    <i class="fa fa-share" aria-hidden="true"></i>
                    {{ value.link.label }}
                </a>
            </li>
            {% for doc in value.documents %}
                <li>
                    <a href="{{ doc.url }}">
                        <i class="fa fa-file-o" aria-hidden="true"></i>
                        {{ doc.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
