{% load wagtailcore_tags %}

{% if events %}

{{ value.title }}
<ul class="calendar-list">
    {% for event in events %}
        <li class="calendar-list__item" data-date="{{ event.date|date:'Y-n-d' }}">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <div class="calendar-list__body">
                <h2 class="calendar-list__title"><a href="{% pageurl event %}">{{ event.title }}</a></h2>
                <h3 class="calendar-list__date">{{ event.date }}</h3>
                <p>{{ event.short_description }}</p>
            </div>
        </li>
    {% endfor %}
    {% if value.calendar_link and value.calendar_link_text %}
        <li class="calendar-list__item">
            <h2 class="calendar-list__link"><a href="{% pageurl value.calendar_link %}">{{ value.calendar_link_text }}</a></h2>
        </li>
    {% endif %}
</ul>

{% endif %}
