{% load wagtailcore_tags %}

{{ value.title }}
<div id="calendar" class="calendar"></div>
<ul class="calendar-list">
    {% for event in events|dictsort:'date' %}
        <li class="calendar-list__item" data-date="{{ event.date|date:'Y-n-d' }}">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <div class="calendar-list__body">
                <h2 class="calendar-list__title"><a href="{% pageurl event %}">{{ event.title }}</a></h2>
                <h3 class="calendar-list__date">{{ event.date }}</h3>
                <p>{{ event.short_description }}</p>
            </div>
        </li>
    {% endfor %}
</ul>
<script>
    var eventsData = {{ js_data|safe }}
</script>
