{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% image self.image width-1920 as img %}
    <div class="hero-unit" style="background-image: url({{ img.url }});">
        <h1 class="hero-unit__title">{{ self.title }}</h1>
        {% if self.image.author %}
            <p class="hero-unit__author">&copy; {{ self.image.author }}</p>
        {% endif %}
    </div>
    {% for block in self.body %}
        <div class="block block-{{ block.block_type }}">
            {% if block.block_type == 'teasers' or block.block_type == 'projects' %}
                {% include_block block %}
            {% else %}
                <div class="l-wrapper">
                    {% include_block block %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
