{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="page-header">
        <div class="l-wrapper">
            <h1 class="page-header__title">
                <i class="fa fa-calendar" aria-hidden="true"></i> {{ self.title }}
            </h1>
        </div>
    </div>
    <div class="l-wrapper">
        <div class="l-center-8">
            <ul>
                {% for event in self.get_children %}
                    <li>
                        <h2><a href="{% pageurl event %}">{{ event.eventpage.title }}</a></h2>
                        <p>{{ event.eventpage.short_description }}</p>
                        <time datetime="{{ event.eventpage.date|date:'Y-m-d' }}">{{ event.eventpage.date }}</time>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
