{% extends 'base.html' %}
{% load wagtailcore_tags i18n %}

{% block content %}
    <div class="page-header">
        <div class="l-wrapper page-header__wrapper">
            <h1 class="page-header__title">
                {{ self.title }}
            </h1>
            <p class="l-center-6">{{ self.short_description }}</p>
        </div>
    </div>
    <div class="l-wrapper">
        <div class="l-center-6">
            <p>
                <a href="{% pageurl self.get_parent %}"><i class="fa fa-chevron-left" aria-hidden="true"></i> {% trans 'Back to index' %}</a>
            </p>
            <dl>
                <dt>{% trans 'When' %}</dt>
                <dd>
                    <time datetime="{{ self.date|date:'Y-m-d' }}T{{ self.time_start|time:'H:i:s' }}">{{ self.date|date:"SHORT_DATE_FORMAT" }} {{ self.time_start|time:"TIME_FORMAT" }}</time>
                    -
                    <time datetime="{{ self.date|date:'Y-m-d' }}T{{ self.time_end|time:'H:i:s' }}">{{ self.time_end|time:"TIME_FORMAT" }}</time>
                </dd>

                <dt>{% trans 'Where' %}</dt>
                <dd>{{ self.place }}</dd>

                <dt>{% trans 'Contact' %}</dt>
                <dd><a href="mailto:{{ self.contact }}">{{ self.contact }}</a></dd>
            </dl>
            <div>
                {{ self.description|richtext }}
            </div>
        </div>
    </div>
{% endblock %}
