{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="page-header">
        <div class="l-wrapper page-header__wrapper">
            <h1 class="page-header__title">
                <i class="fa fa-archive" aria-hidden="true"></i> {{ self.title }}
            </h1>
            <p class="l-center-6">{{ self.description }}</p>
        </div>
        <div class="page-header__img-wrapper">
            {% image self.image fill-1920x600 %}
            {% if self.image.author %}
                <p class="img-author">&copy; {{ self.image.author }}</p>
            {% endif %}
        </div>
    </div>
    <div class="l-wrapper">
        {% for block in self.body %}
            {{ block }}
        {% endfor %}
    </div>
{% endblock %}
