{% load menu i18n %}
{% get_menu 'Footer' as topnav %}

<footer class="footer">
    <div class="l-wrapper">
        <nav class="footer__container">
            <span class="footer__left" lang="de">Senatsverwaltung für Umwelt, Verkehr und Klimaschutz</span>
            <ul class="footer__list">
                {% for item in topnav %}
                    <li class="footer__item">
                        <a class="footer__link" href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</footer>
