{% load menu static i18n %}

{% get_menu 'Header' as topnav %}
<header class="header">
    <nav class="l-wrapper header__container">
        <span class="header__site-name">
            {{ self.get_site.site_name }}
            <span class="label">Beta-Version</span>
        </span>
        <button class="header__toggle button button--light">
            <i class="fa fa-bars" aria-label="{% trans 'Menu' %}"></i>
        </button>
        <ul class="header__list">
            {% for item in topnav %}
                <li class="header__item">
                    <a class="header__link" href="{{ item.url }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="header__branding">
            <p lang="de">Senatsverwaltung für Umwelt, Verkehr und Klimaschutz</p>
            <img src="{% static 'images/beberlin.svg' %}" alt="">
        </div>
    </nav>
    <div class="dialogue-box">
        {# Static markup to allow the blue border with the spike from Berlin's CD #}
        <div class="dialogue-box__left"></div>
        <div class="dialogue-box__center"></div>
        <div class="dialogue-box__right"></div>
    </div>
</header>
