{% extends 'base.html' %}
{% load i18n wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="page-header">
        <div class="l-wrapper page-header__wrapper">
            <h1 class="page-header__title">
                {{ self.title }}
            </h1>
        </div>
        <div class="page-header__img-wrapper">
            {% image self.image fill-1920x600 %}
            {% if self.image.author %}
                <p class="img-author">&copy; {{ self.image.author }}</p>
            {% endif %}
        </div>
    </div>
    <div class="l-wrapper">
        <div class="l-center-6">
            {{ self.description | richtext }}
        </div>
        <div class="l-center-8">
            {{ self.embed_code | safe }}
        </div>
    </div>
{% endblock %}
