{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="page-header">
        <div class="l-wrapper page-header__wrapper">
            <h1 class="page-header__title">
                {{ self.title }}
            </h1>
        </div>
    </div>
    <div class="l-wrapper">
        <div class="l-center-6">
            <ul>
                {% for child in self.get_children %}
                    <li><a href="{% pageurl child %}">{{ child }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
