{% extends 'base.html' %}
{% load i18n wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="page-header">
        <div class="l-wrapper page-header__wrapper">
            <h1 class="page-header__title">
                {{ self.title }}
            </h1>
        </div>
    </div>
    <div class="l-wrapper">
        <div class="l-center-8">
            {% for container in self.get_children.specific %}
                <div class="projects-block__item projects-block__item--bordered">
                    {% image container.image fill-270x270 as img %}
                    <div class="projects-block__img-wrapper">
                        <img src="{{ img.url }}" alt="{{ img.alt }}" class="projects-block__img">
                        {% if container.image.author %}
                            <p class="img-author">&copy; {{ container.image.author }}</p>
                        {% endif %}
                    </div>
                    <div class="projects-block__body">
                        <h3 class="projects-block__heading u-first-heading" id="project-{{ forloop.counter }}">{{ container.title }}</h3>
                        <p>{{ container.short_description }}</p>
                        <a href="{% pageurl container %}"
                           aria-describedby="project-{{ forloop.counter }}">
                            <i class="fa fa-share" aria-hidden="true"></i> {% trans 'go to project container' %}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
