.button {
    display: inline-block;
    padding: 0.6em 1.5em;

    border-radius: 0.25em;

    font-weight: bold;
    text-align: center;
    text-decoration: none;

    transition: background-color $transition-duration, color $transition-duration;
}

.button--primary {
    color: contrast-color($brand-primary);
    background-color: $link-color;

    &:focus,
    &:hover {
        color: contrast-color($brand-primary);
        background-color: $link-hover-color;
    }
}

.button--secondary {
    color: contrast-color($bg-secondary);
    background-color: $bg-secondary;

    &:focus,
    &:hover {
        color: contrast-color($brand-primary);
        background-color: $brand-primary;
    }
}

.button--light {
    padding: 0.3em 0.6em;
    border: 1px solid $border-color;

    transition: border-color $transition-duration;

    &:hover,
    &:focus {
        color: $link-hover-color;
        border-color: $link-hover-color;
    }
}
