.flatpickr-calendar {
    background-color: $bg-secondary;
    box-shadow: none;
    border-radius: 0.25em;
    margin-bottom: $spacer;

    &.inline {
        // flatpickr sets this to top: 2px for some reason
        top: 0;
    }

    @media (min-width: $breakpoint) {
        @include grid-span(3, 0, (columns: 7));
    }
}

.flatpickr-day {
    background: $brand-primary;
    color: contrast-color($brand-primary);
    border-color: $brand-primary;
    height: auto;
    line-height: 1.9;

    &:hover,
    &:focus,
    &.selected {
        background: $link-hover-color;
        border-color: $link-hover-color;
    }

    &.selected:hover,
    &.selected:focus {
        background: $link-hover-color;
        border-color: $link-hover-color;
    }

    &.disabled {
        color: contrast-color($bg-secondary);
    }

    &.disabled.prevMonthDay,
    &.disabled.nextMonthDay {
        color: $text-secondary;
    }
}

.dayContainer {
    min-width: 100%;
}
