.label {
    padding: 0.25em 0.3em 0.2em 0.4em;
    background: $berlin-secondary;
    border-radius: 0.4em;

    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $text-color-inverted;
    letter-spacing: 0.1em;
    vertical-align: 0.2em;
}
