.nav {
    padding: 1em 0;
    overflow: hidden;

    a {
        color: inherit;
        transition: color $transition-duration;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $brand-primary;
        }
    }
}

.nav--footer .nav__container {
    border-top: 1px solid $border-color;
    padding-top: 1.1em;
    margin-top: 2em;
}

.nav__left {
    float: left;
}

.nav__list {
    margin: 0;

    overflow: hidden;

    text-align: right;
    list-style: none;
}

.nav--header {
    padding: 1em 0 0.4em;

    .nav__list {
        // for centered vertical alignment
        padding: 0.8em 0 0;
    }
}

.nav__item {
    display: inline-block;
    margin-left: 2em;
}
