.page-header {
    margin-bottom: 3em;

    background-color: $brand-secondary;

    text-align: center;

    img {
        display: block;
        width: 100%;
    }

    &:first-child {
        margin-top: -35px;
    }
}

.page-header__wrapper {
    padding: 6.6em 0;
}

.page-header__title {
    margin-top: 0;
}

.page-header__img-wrapper {
    position: relative;
}
